<h1>Profiles#show</h1>
<%= @profile.first_name %>
<%= @profile.last_name %>
<%= @profile.adress_1 %>
<%= @profile.adress_2 %>
<%= @profile.postcode %>
<%= @profile.region %>
<%= @profile.city %>
<%= @profile.country %>
<%= @profile.telephone %>
