
<center>
  <div class="container">
    <div class="row">
      <% @items.each do |item| %>
      <div class="col">
        <div class="card bg-light mb-3" style="width: 18rem;">
          <img src="<%=item.photo%>" style="height: 150px;">
          <div class="card-body">
            <h5 class="card-title"><%= item.name %></h5>
            <p class="card-text" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 30ch"><%= item.description %><br></p>
          </div>
          <div class="card-body">
            <p class="card-text">Prix :<%= item.original_price.round(2) %>€</p>
            <%= link_to 'Fiche complète', administration_item_path(item), class: "card-link btn btn-primary" %>
            <%= link_to "Modifier le produit", edit_administration_item_path(item) %>
            <%= link_to "supprimer le produit", administration_item_path(item), method: :delete, class: "card-link btn btn-outline-danger" %>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</center>