
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Greenie<span class="sr-only">(current)</span></a>
          </li>
          <% if user_signed_in? %>
            <li><%= link_to " Mon profile", profile_path, class: "nav-link" %></li>
            <li><%= link_to " Mes commandes", orders_path, class: "nav-link" %></li>
            <li><%= link_to " Mon panier", cart_path, class: "nav-link" %></li>
            <li><%= link_to "Déconnexion", destroy_user_session_path, method: :delete, class: "nav-link" %></li>
          <% else %>
            <li><%= link_to "Connexion", user_session_path, class: "nav-link" %></li>
          <% end %>
        </ul>
        <% if admin_signed_in? %>
        <span class="navbar-text">
          <%= link_to "Dashboard", administration_items_path %><br />
        </span>
        <% else %>
        <span class="navbar-text">
          <%= link_to "Admin", new_admin_session_path %><br />
        </span>
        <% end %>
      </div>
    </nav>
