
      <nav class="sidebar">
        <div class="sidebar-content">
          <a class="sidebar-brand" href="index.html">
            <i class="align-middle" data-feather="box"></i>
            <% flash.each do |message_type, message| %>
              <div class="alert alert-<%= message_type %>" style="color: red"><%= message %></div>
            <% end %>
            <span class="align-middle">Greenie admins<br>--dashboard--</span>
          </a>

          <ul class="sidebar-nav">

            <li class="sidebar-item">

              <%= link_to administration_items_path, class: 'sidebar-brand' do %>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-list align-middle"><line x1="8" y1="6" x2="21" y2="6"></line><line x1="8" y1="12" x2="21" y2="12"></line><line x1="8" y1="18" x2="21" y2="18"></line><line x1="3" y1="6" x2="3" y2="6"></line><line x1="3" y1="12" x2="3" y2="12"></line><line x1="3" y1="18" x2="3" y2="18"></line></svg>
                <i class="align-middle" data-feather="box"></i>
                <span class="align-middle">Les produits</span>
              <% end %>
            </li>

            <li class="sidebar-item active">

              <%= link_to new_administration_item_path, class: "sidebar-link" do %>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-sliders align-middle"><line x1="4" y1="21" x2="4" y2="14"></line><line x1="4" y1="10" x2="4" y2="3"></line><line x1="12" y1="21" x2="12" y2="12"></line><line x1="12" y1="8" x2="12" y2="3"></line><line x1="20" y1="21" x2="20" y2="16"></line><line x1="20" y1="12" x2="20" y2="3"></line><line x1="1" y1="14" x2="7" y2="14"></line><line x1="9" y1="8" x2="15" y2="8"></line><line x1="17" y1="16" x2="23" y2="16"></line></svg>
                <i class="align-middle" data-feather="book-open"></i>
                </i> <span class="align-middle">Ajouter un produit</span>
              <% end %>
            </li>
            <li class="sidebar-item">

              <%= link_to administration_profiles_path, class: 'sidebar-brand' do %>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-list align-middle"><line x1="8" y1="6" x2="21" y2="6"></line><line x1="8" y1="12" x2="21" y2="12"></line><line x1="8" y1="18" x2="21" y2="18"></line><line x1="3" y1="6" x2="3" y2="6"></line><line x1="3" y1="12" x2="3" y2="12"></line><line x1="3" y1="18" x2="3" y2="18"></line></svg>
                <i class="align-middle" data-feather="box"></i>
                <span class="align-middle">Les profils</span>
              <% end %>
            </li>

            <li class="sidebar-item">

              <%= link_to administration_users_path, class: 'sidebar-brand' do %>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-list align-middle"><line x1="8" y1="6" x2="21" y2="6"></line><line x1="8" y1="12" x2="21" y2="12"></line><line x1="8" y1="18" x2="21" y2="18"></line><line x1="3" y1="6" x2="3" y2="6"></line><line x1="3" y1="12" x2="3" y2="12"></line><line x1="3" y1="18" x2="3" y2="18"></line></svg>
                <i class="align-middle" data-feather="box"></i>
                <span class="align-middle">Membres (NB à fusionner avec profils)</span>
              <% end %>
            </li>

          </ul>

          <div class="sidebar-bottom d-none d-lg-block">
            <div class="media">
              <div class="media-body">
                <h5 class="mb-1 text-white"><%= current_admin.email %></h5>
                <h5> <%= link_to "Se déconnecter", destroy_admin_session_path, method: :delete %> </h5>
              </div>
            </div>
          </div>

        </div>
      </nav>
